body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	display: grid;
	grid-template-areas:
		"header"
		"nav"
		"main"
		"footer";
}

a{
	color: rgba(112, 128, 144, 1);
	text-decoration: none;
	font-family: 'MS Sans Serif', Geneva, sans-serif;
}

header {
	width: auto;
	height: 10em;
	text-align: center;
	vertical-align: middle;
	grid-area: header;
	
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1em;
}

nav {
	grid-area: nav;
}

main {
	font-size: 2em;
	text-align: center;
	grid-area: main;
}
 
#menu_accueil{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

#menu_accueil li{
	float: left;
}

#menu_accueil a{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
 }
 
 #menu_accueil li a:hover{
	background-color: #111;
 }
 
 #collection {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	align-content: space-between;
 }
 
 .livre {
	width: 400px;
	height: 500px;
	border: 10px dotted grey;
	margin-bottom: 3%;
 }
 
 .livre img {
	 width: 60%;
	 height: 75%;
 }
 
footer {
	width: auto;
	height: 7em;
	background-color: rgba(255, 168, 0, 1);
	text-align: right;
	vertical-align: bottom;
	grid-area: footer;
}